@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700&subset=latin-ext');

:root {
  --font-color-header: #ddd;
  --font-color-top-text: rgb(223, 223, 223);
  --font-color-h1: #000;
}

p {
  font-size: .9rem;
  line-height: 1.5rem;
}

.btn {
  padding: .5rem 1.25rem;
}

.page-label {
  letter-spacing: .15rem;
}

/* navbar*/
.navbar .navbar-nav .nav-item {
  padding: .2rem 1.5rem;
}

.text-brand {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 3px;
}

/* TOP*/
.top {
  padding: 10rem 0 12rem;
  background-image: url(../images/hand.jpg);
  background-position: center bottom 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  background-color: rgba(0, 0, 0, .35);
  padding-top: 3%;
  padding-bottom: 3%;
}

.top-header {
  margin-bottom: 1rem;
  letter-spacing: .2rem;
  font-size: 4rem;
  font-weight: 700;
  color: var(--font-color-header);
}

.top-name {
  margin-bottom: 3rem;
  letter-spacing: .1rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--font-color-header);
}

.top-text {
  font-size: 2.6rem;
  color: var(--font-color-top-text);
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  letter-spacing: .2rem;
  padding: 2rem;
}

.top-text2 {
  color: rgb(194, 0, 0);
}

.top-button {
  margin-top: 2rem;
  font-size: 1.5rem;
}

@media (max-width:660px) {
  .top-header {
    font-size: 2.2rem;
  }

  .top-text {
    font-size: 1rem;
  }

  .top-name {
    margin-bottom: 3rem;
    letter-spacing: .1rem;
    font-size: 1.5rem;
  }
}

/*wprowadzenie*/
.introduction {
  margin-top: 5rem;
}

.introduction-header {
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  letter-spacing: .2rem;
  color: var(--font-color-h1);
}

.introduction-text {
  margin-bottom: 5rem;
}

.introduction-info {
  line-height: 2.3rem;
}

@media (max-width:660px) {
  .introduction-header {
    font-size: 2.2rem;
    letter-spacing: .1rem;
  }

  .introduction-info {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}

/* Ubezpieczenia*/
.portfolio .row {
  height: 100%;
}

.portfolio-header {
  font-size: 3rem;
  margin-bottom: 4rem;
  color: var(--font-color-h1);
}

.portfolio-images {
  margin-bottom: 4rem;
}

.portfolio-subheading {
  margin-bottom: 5rem;
}

a.link {
  text-decoration: none;
  border: none;
}

.link {
  color: white;
  background-color: green;
  border: 2px solid black;
  border-radius: 50px;
  padding: 1.3% 0%;
}

.link:hover {}

@media (max-width:660px) {
  .portfolio-header {
    font-size: 2.2rem;
  }
}

/* Formularz*/
.write-to-us .row {
  height: 100%;
}

.write-to-us-header {
  font-size: 1.45rem;
  margin-bottom: 2.2rem;
}

.write-to-us .form-control-label {
  font-size: .8rem;
  color: #999999;
  margin-top: 1rem;
}

/*Footer*/
.footer-text {
  /* padding-top: 5%; */
  background-image: url(../images/city-1209105_1920.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-text-a {
  text-decoration: none;
  border: none;
  color: white;
}

.footer-text-a:hover {
  text-decoration: none;
  border: none;
  color: white;
}

.footer-list {
  background-color: rgba(0, 0, 0, .2);
  padding-bottom: 5%;
}

.footer-first-col ul li {
  font-size: 1rem;
}

.footer-first-col ul li i {
  margin-right: .7rem;
  padding: .34rem;
}

.logoBk {
  filter: opacity(.6);
}

@media (max-width:360px) {
  .footer-first-col ul li i {
    margin-right: .3rem;
    padding: .34rem;
    font-size: .5rem;
  }
}

.copyright p {
  font-size: .7rem;
}

.copyright {
  font-size: .7rem;
  color: #999;
  background-color: #333;
}